html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*colors*/
/*end colors*/
/*fonts*/
@font-face {
  font-family: "Skoda_pro_bold";
  src: url("../assets/fonts/SkodaPro-Bold.woff"); }
@font-face {
  font-family: "Skoda_regular";
  src: url("../assets/fonts/SkodaPro.woff"); }
@font-face {
  font-family: "skoda_pro_light";
  src: url("../assets/fonts/skoda_pro_light-webfont.woff"); }
@font-face {
  font-family: "skoda_pro_extra_bold";
  src: url("../assets/fonts/skoda_pro_extrabold-webfont.woff"); }
@font-face {
  font-family: "roboto-bold";
  src: url("../assets/fonts/Roboto-Bold.woff"); }
@font-face {
  font-family: "roboto-thin";
  src: url("../assets/fonts/Roboto-Thin.woff"); }
@font-face {
  font-family: "roboto-light";
  src: url("../assets/fonts/roboto-light-webfont.woff"); }
@font-face {
  font-family: "robotocondensed";
  src: url("../assets/fonts/robotocondensed-bold-webfont.woff"); }
@font-face {
  font-family: "skoda_pro_light1";
  src: url("../assets/fonts/SkodaPro-Light1.woff"); }
/*fonts*/
/*mixin flex*/
/*mixin flex*/
/*general*/
.upercase {
  text-transform: uppercase; }

body, html {
  overflow-x: hidden; }

.wrapper {
  max-width: 1172px;
  padding: 0 10px;
  margin: 0 auto; }

h1 {
  font-family: "Skoda_pro_bold", sans-serif;
  font-size: 75px;
  color: #fff; }

/*end general*/
@keyframes spin {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.mobile, .full_menu {
  display: none; }

@media screen and (max-width: 768px) {
  .mobile {
    display: block; } }
.mobile .menu {
  width: 40px;
  cursor: pointer;
  position: absolute;
  top: 16px;
  left: 15px; }

.full_menu.open {
  display: block;
  background: #0e0f3b;
  width: 100%;
  z-index: 2;
  left: 0;
  bottom: 0;
  top: 0;
  position: fixed;
  padding-top: 54px; }
  .full_menu.open li {
    width: 100%;
    display: block;
    text-align: center;
    padding: 0; }
    .full_menu.open li a {
      font-size: 25px;
      line-height: 40px; }
      .full_menu.open li a:hover {
        border: none; }

.close {
  width: 30px;
  position: absolute;
  right: 15px;
  top: 20px; }

/*top*/
.top {
  background: url("../assets/images/bg_main.jpg") no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 991px) {
    .top {
      height: 100%;
      min-height: 640px; } }
  .top .light {
    left: 0;
    top: 0;
    height: 100vh;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: auto;
    background: url(../assets/images/bg_main1.jpg) no-repeat;
    background-size: cover;
    animation-name: spin;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 0; }
    @media screen and (max-width: 991px) {
      .top .light {
        height: 100%;
        min-height: 640px; } }
  .top .scroll {
    height: 65px;
    position: absolute;
    bottom: 12px;
    left: 0;
    right: 0;
    margin: auto;
    width: 31px;
    cursor: pointer; }
    @media screen and (max-width: 1367px) {
      .top .scroll {
        bottom: -4px; } }
    @media screen and (max-width: 1200px) {
      .top .scroll {
        display: none; } }
    @media screen and (max-width: 768px) {
      .top .scroll {
        display: none; } }
    @media screen and (max-width: 1367px) {
      .top .scroll img {
        height: 50px; } }
  .top .logo {
    display: block;
    margin-top: 7px;
    top: 12px;
    position: absolute;
    z-index: 9; }
    @media screen and (max-width: 1200px) {
      .top .logo {
        margin-top: 0;
        top: 5px;
        width: 100px;
        left: 10px; } }
    @media screen and (max-width: 991px) {
      .top .logo {
        width: 95px; } }
    @media screen and (max-width: 768px) {
      .top .logo {
        z-index: 6;
        width: 75px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 7px; } }
  .top .top_wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 2%;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    height: calc(100vh - 204px);
    padding-top: 92px; }
    @media screen and (max-width: 768px) {
      .top .top_wrapper {
        margin-right: 0;
        padding-top: 120px;
        padding-bottom: 100px;
        height: 100%; } }
    .top .top_wrapper h1 {
      z-index: 2;
      font-size: 53px;
      font-family: 'Roboto Condensed', sans-serif;
      text-align: center;
      max-width: 740px;
      width: 100%;
      line-height: 64px; }
      @media screen and (max-width: 1367px) {
        .top .top_wrapper h1 {
          margin-top: 25px; } }
      @media screen and (max-width: 768px) {
        .top .top_wrapper h1 {
          z-index: 1; } }
      @media screen and (max-width: 768px) {
        .top .top_wrapper h1 {
          font-size: 45px;
          width: 100%;
          line-height: 1.2; } }
      @media screen and (max-width: 500px) {
        .top .top_wrapper h1 {
          font-size: 27px;
          line-height: 1.2; } }
      .top .top_wrapper h1 span {
        font-size: 40px; }
        @media screen and (max-width: 768px) {
          .top .top_wrapper h1 span {
            font-size: 40px;
            width: 100%; } }
        @media screen and (max-width: 500px) {
          .top .top_wrapper h1 span {
            font-size: 20px; } }
      .top .top_wrapper h1 .third_part {
        font-size: 49px; }
        @media screen and (max-width: 768px) {
          .top .top_wrapper h1 .third_part {
            font-size: 43px;
            width: 100%; } }
        @media screen and (max-width: 500px) {
          .top .top_wrapper h1 .third_part {
            font-size: 25px; } }
  .top header {
    z-index: 2;
    height: 70px;
    padding-top: 22px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background-color: #03091F;
    position: fixed;
    width: 100%;
    z-index: 8; }
    @media screen and (max-width: 1200px) {
      .top header {
        padding-top: 0; } }
    @media screen and (max-width: 991px) {
      .top header {
        padding-top: 0;
        z-index: 5;
        height: 55px; } }
    .top header .wrapper {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      height: 118px;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: space-between;
      width: 100%; }
      @media screen and (max-width: 768px) {
        .top header .wrapper {
          height: 100%; } }
    @media screen and (max-width: 991px) {
      .top header ul {
        padding-top: 4px; } }
    .top header li {
      display: inline-block;
      padding: 0 9px;
      line-height: 50px;
      cursor: pointer;
      -moz-transition: 450ms ease 0s;
      -o-transition: 450ms ease 0s;
      -webkit-transition: 450ms ease 0s;
      transition: 450ms ease 0s; }
      @media screen and (max-width: 991px) {
        .top header li {
          line-height: 30px;
          padding: 0 7px; } }
      .top header li:last-child {
        padding-right: 0; }
        @media screen and (max-width: 1200px) {
          .top header li:last-child {
            padding-right: 10px; } }
    .top header .language {
      z-index: 2;
      position: absolute;
      right: 0px;
      top: 19px; }
      .top header .language:before {
        content: "";
        background: url("../assets/images/arrow.png") no-repeat;
        background-size: contain;
        background-position: center;
        width: 10px;
        height: 7px;
        bottom: -4px;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        cursor: pointer; }
      @media screen and (max-width: 1200px) {
        .top header .language {
          top: 24px; } }
      @media screen and (max-width: 991px) {
        .top header .language {
          top: 15px; } }
      @media screen and (max-width: 768px) {
        .top header .language {
          z-index: 1;
          top: 10px; } }
      .top header .language li {
        line-height: initial;
        display: block;
        padding: 0; }
        .top header .language li:hover {
          border-bottom: none; }
      .top header .language a {
        font-family: "Skoda_pro_bold", sans-serif;
        font-size: 24px;
        color: #fff;
        text-decoration: none;
        position: relative;
        opacity: 1;
        margin-top: 3px;
        display: block;
        transition: 450ms ease 0s;
        line-height: initial; }
        @media screen and (max-width: 1200px) {
          .top header .language a {
            font-size: 19px;
            margin-top: 1px; } }
        @media screen and (max-width: 991px) {
          .top header .language a {
            font-size: 16px; } }
        @media screen and (max-width: 768px) {
          .top header .language a {
            font-size: 19px; } }
        .top header .language a:hover {
          opacity: 1;
          border: none; }
    .top header nav {
      margin-right: 0px;
      position: relative;
      width: 100%;
      margin-left: 157px;
      padding-top: 10px; }
      @media screen and (max-width: 991px) {
        .top header nav {
          margin-left: 0px; } }
    .top header .nav {
      text-align: right;
      margin-right: 45px; }
      @media screen and (max-width: 1200px) {
        .top header .nav {
          text-align: right;
          margin-right: 30px; } }
      @media screen and (max-width: 768px) {
        .top header .nav {
          display: none; } }
    .top header nav a {
      font-family: "Skoda_pro_bold", sans-serif;
      font-size: 26px;
      color: #fff;
      text-decoration: none;
      position: relative;
      line-height: 50px;
      display: block; }
      @media screen and (max-width: 1200px) {
        .top header nav a {
          font-size: 20px; } }
      @media screen and (max-width: 991px) {
        .top header nav a {
          font-size: 16px;
          line-height: 30px; } }
      .top header nav a:hover {
        border-bottom: 2px solid #fff; }
  .top .btn_v1 {
    background: url("../assets/images/btn_v1.png") no-repeat;
    background-size: cover;
    width: 300px;
    height: 70px;
    display: block;
    font-family: "Skoda_pro_bold", sans-serif;
    font-size: 25px;
    text-align: center;
    line-height: 78px;
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
    -moz-transition: 450ms ease 0s;
    -o-transition: 450ms ease 0s;
    -webkit-transition: 450ms ease 0s;
    transition: 450ms ease 0s; }
    @media screen and (max-width: 768px) {
      .top .btn_v1 {
        margin: 0 auto;
        margin-bottom: 24px; } }
    @media screen and (max-width: 500px) {
      .top .btn_v1 {
        background-size: contain;
        width: 230px;
        height: 65px;
        line-height: 60px;
        font-size: 20px;
        margin-bottom: 10px; } }
    .top .btn_v1:hover {
      background: url("../assets/images/btn_hover.png") no-repeat;
      background-size: cover; }
      @media screen and (max-width: 500px) {
        .top .btn_v1:hover {
          background-size: contain; } }
  .top .btn_v2 {
    background: url("../assets/images/btn_v2.png") no-repeat;
    background-size: cover;
    width: 300px;
    height: 70px;
    text-align: center;
    display: block;
    line-height: 78px;
    text-decoration: none;
    color: #fff;
    font-family: "Skoda_pro_bold", sans-serif;
    font-size: 25px;
    margin-bottom: 24px;
    -moz-transition: 450ms ease 0s;
    -o-transition: 450ms ease 0s;
    -webkit-transition: 450ms ease 0s;
    transition: 450ms ease 0s; }
    @media screen and (max-width: 768px) {
      .top .btn_v2 {
        margin: 0 auto;
        margin-bottom: 24px; } }
    @media screen and (max-width: 500px) {
      .top .btn_v2 {
        background-size: contain;
        width: 230px;
        height: 65px;
        line-height: 60px;
        font-size: 20px;
        margin-bottom: 10px; } }
    .top .btn_v2:hover {
      background: url("../assets/images/btn_hover.png") no-repeat;
      background-size: cover; }
      @media screen and (max-width: 500px) {
        .top .btn_v2:hover {
          background-size: contain; } }
  .top .group_btn {
    z-index: 2;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 740px;
    margin-top: 60px;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
    @media screen and (max-width: 768px) {
      .top .group_btn {
        margin-top: 40px;
        z-index: 1; } }
    .top .group_btn div {
      cursor: pointer; }
      @media screen and (max-width: 500px) {
        .top .group_btn div {
          position: relative;
          display: block;
          width: 100%; } }

/*end top*/
/*video_player*/
.video_player .wrapper {
  max-width: 100%;
  padding: 0; }

.video_player .video {
  width: 100%; }

/*video_player*/
/*how_it_works*/
.how_it_works {
  text-align: center;
  padding-top: 87px;
  background: #fff;
  padding-bottom: 179px; }
  .how_it_works .wrapper {
    max-width: 1188px; }
  @media screen and (max-width: 991px) {
    .how_it_works {
      padding-top: 45px;
      padding-bottom: 45px; } }
  @media screen and (max-width: 500px) {
    .how_it_works {
      padding-top: 30px;
      padding-bottom: 30px; } }
  .how_it_works h1 {
    background: linear-gradient(to right, #311024 0%, #311024 18%, #6f316f 50%, #311024 82%, #311024 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    font-size: 95px; }
    @media screen and (max-width: 1200px) {
      .how_it_works h1 {
        font-size: 105px; } }
    @media screen and (max-width: 991px) {
      .how_it_works h1 {
        font-size: 75px; } }
    @media screen and (max-width: 768px) {
      .how_it_works h1 {
        font-size: 60px; } }
    @media screen and (max-width: 500px) {
      .how_it_works h1 {
        font-size: 38px; } }
  .how_it_works h2 {
    font-family: "Skoda_pro_bold", sans-serif;
    color: #000;
    font-size: 65px;
    margin-top: 60px;
    margin-bottom: 39px; }
    @media screen and (max-width: 1200px) {
      .how_it_works h2 {
        margin-top: 54px; } }
    @media screen and (max-width: 991px) {
      .how_it_works h2 {
        margin-top: 25px;
        margin-bottom: 21px; } }
    @media screen and (max-width: 768px) {
      .how_it_works h2 {
        margin-top: 14px;
        margin-bottom: 15px;
        font-size: 44px; } }
    @media screen and (max-width: 500px) {
      .how_it_works h2 {
        font-size: 30px; } }
  .how_it_works h3 {
    font-family: "Skoda_regular", sans-serif;
    color: #000;
    font-size: 34px;
    margin-bottom: 93px;
    margin-top: 53px; }
    @media screen and (max-width: 991px) {
      .how_it_works h3 {
        font-size: 35px;
        margin-bottom: 30px;
        margin-top: 30px; } }
    @media screen and (max-width: 768px) {
      .how_it_works h3 {
        font-size: 23px;
        margin-top: 20px; } }
    @media screen and (max-width: 500px) {
      .how_it_works h3 {
        font-size: 14px; } }

.items {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  text-align: left;
  font-family: "Skoda_regular", sans-serif; }
  @media screen and (max-width: 991px) {
    .items {
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .items .item {
    position: relative;
    background: #f7f7f7;
    margin: 0 10px;
    padding-top: 24px;
    padding-left: 14px;
    padding-right: 27px;
    overflow: hidden;
    max-width: 232px;
    margin-right: 23px;
    height: 516px;
    cursor: pointer;
    -moz-transition: 450ms ease 0s;
    -o-transition: 450ms ease 0s;
    -webkit-transition: 450ms ease 0s;
    transition: 450ms ease 0s; }
    @media screen and (max-width: 1200px) {
      .items .item {
        padding-left: 10px;
        padding-right: 10px;
        height: 555px; } }
    @media screen and (max-width: 991px) {
      .items .item {
        height: initial;
        max-width: 400px;
        margin: 0 auto;
        margin-bottom: 25px; } }
    @media screen and (max-width: 991px) {
      .items .item {
        background: url(../assets/images/our_mission_hover.jpg) 0 0 no-repeat #220523;
        background-size: cover; } }
    .items .item:after {
      content: "";
      background: url(../assets/images/our_mission_hover.jpg) 0 0 no-repeat #220523;
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      width: 389%;
      height: 100%;
      background-size: contain;
      z-index: 1; }
    .items .item:before {
      content: "";
      background: url(../assets/images/our_mission_1.png) 0 0 no-repeat;
      opacity: 1;
      position: absolute;
      left: 0;
      top: 0;
      width: 389%;
      height: 100%;
      background-size: contain;
      z-index: 1; }
      @media screen and (max-width: 991px) {
        .items .item:before {
          opacity: 0; } }
    .items .item:hover:after {
      opacity: 1; }
      @media screen and (max-width: 991px) {
        .items .item:hover:after {
          opacity: 0; } }
    .items .item:hover .count {
      z-index: 3;
      position: relative; }
    .items .item:hover .title {
      z-index: 3;
      position: relative;
      color: #fff; }
    .items .item:hover .text {
      z-index: 3;
      position: relative;
      color: #fff; }
    .items .item .count {
      font-family: "Skoda_regular", sans-serif;
      color: #A80254;
      font-size: 65px; }
      @media screen and (max-width: 991px) {
        .items .item .count {
          font-size: 47px; } }
    .items .item .title {
      font-size: 23px;
      color: #000;
      margin-top: 22px;
      line-height: 31px;
      font-family: "Skoda_regular", sans-serif;
      height: 244px; }
      @media screen and (max-width: 1200px) {
        .items .item .title {
          font-size: 23px; } }
      @media screen and (max-width: 991px) {
        .items .item .title {
          margin-bottom: 32px;
          margin-top: 20px;
          color: #fff;
          height: 100%; } }
    .items .item .text {
      font-size: 18px;
      color: #000;
      line-height: 22px; }
      @media screen and (max-width: 991px) {
        .items .item .text {
          padding-bottom: 30px;
          font-size: 17px;
          color: #fff; } }

.item_4.item:hover:after {
  background-position-x: -1146%;
  height: 147%;
  background-position-y: 0px; }

.item_1.item:hover:after {
  height: 147%;
  background-position: 0; }

.item_2.item:hover:after {
  background-position-x: -400%;
  height: 145%;
  background-position-y: -18px; }

.item_3.item:hover:after {
  background-position-x: -632%;
  height: 145%;
  background-position-y: 0px; }

.item_4.item:before {
  background-position-x: -480%;
  height: 100%;
  background-position-y: 0; }

.item_1.item:before {
  height: 100%;
  background-position: 0; }

.item_2.item:before {
  background-position-x: -192%;
  height: 100%;
  background-position-y: 0; }

.item_3.item:before {
  background-position-x: -267%;
  height: 100%;
  background-position-y: 0; }

@media screen and (max-width: 991px) {
  .items .item_3 .title {
    margin-bottom: 32px; } }

@media screen and (max-width: 991px) {
  .items .item_4 .title {
    margin-bottom: 32px; } }

/*how_it_works*/
/*kmts_roadmap*/
.kmts_roadmap {
  background: url(../assets/images/bg_roadmap1.jpg) no-repeat;
  background-size: cover;
  background-position: center; }
  @media screen and (max-width: 768px) {
    .kmts_roadmap {
      background: url(../assets/images/bg_team_mob.jpg) no-repeat;
      background-size: cover;
      background-position: center; } }

.kmts.roadmap {
  padding-top: 115px; }
  @media screen and (max-width: 1200px) {
    .kmts.roadmap {
      padding-top: 50px; } }
  .kmts.roadmap .kmts_wrapper {
    max-width: 800px;
    margin: 0 auto;
    margin-left: 137px; }
    @media screen and (max-width: 1200px) {
      .kmts.roadmap .kmts_wrapper {
        max-width: 450px; } }
  .kmts.roadmap h1 {
    margin-bottom: 98px; }
    @media screen and (max-width: 1200px) {
      .kmts.roadmap h1 {
        font-size: 65px; } }
    @media screen and (max-width: 500px) {
      .kmts.roadmap h1 {
        font-size: 38px; } }
  .kmts.roadmap .road {
    background: url(../assets/images/ktms1.png) no-repeat;
    background-size: cover;
    width: 195px;
    height: 177px;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    margin-bottom: 43px; }
  .kmts.roadmap .road:hover {
    background: url(../assets/images/ktms_hover1.png) no-repeat;
    background-size: cover;
    width: 195px;
    height: 177px; }
  .kmts.roadmap .road:hover + .text span {
    font-family: "skoda_pro_extra_bold", sans-serif;
    opacity: 1; }
  .kmts.roadmap .road:hover + .text p {
    opacity: 1;
    font-family: "Skoda_pro_bold", sans-serif; }
  .kmts.roadmap .text {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    -ms-align-items: baseline;
    align-items: baseline;
    opacity: 1;
    left: initial;
    width: initial;
    right: 191px;
    height: 203px; }
    .kmts.roadmap .text p {
      opacity: 0.3;
      font-size: 21px; }
      @media screen and (max-width: 1200px) {
        .kmts.roadmap .text p {
          font-size: 16px;
          width: 229px; } }
  .kmts.roadmap .text span {
    font-family: "Skoda_regular", sans-serif;
    font-size: 70px;
    display: block;
    line-height: 70px; }
    @media screen and (max-width: 1200px) {
      .kmts.roadmap .text span {
        font-size: 55px;
        line-height: 45px; } }

/*kmts_roadmap*/
/*roadmap*/
.roadmap {
  text-align: center;
  color: #fff; }
  @media screen and (max-width: 1200px) {
    .roadmap h1 {
      font-size: 65px; } }
  @media screen and (max-width: 768px) {
    .roadmap h1 {
      font-size: 45px; } }
  @media screen and (max-width: 500px) {
    .roadmap h1 {
      font-size: 32px; } }
  .roadmap .roadmap_inner {
    padding-top: 83px;
    width: 100%;
    padding-bottom: 71px; }
    @media screen and (max-width: 768px) {
      .roadmap .roadmap_inner {
        padding-top: 40px;
        padding-bottom: 40px; } }
  .roadmap .wrapper {
    max-width: 1500px;
    position: relative; }
  .roadmap .roadmap_wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    max-width: 950px;
    margin: 0 auto;
    padding: 0 10px;
    padding-top: 62px; }
    @media screen and (max-width: 991px) {
      .roadmap .roadmap_wrapper {
        max-width: 500px; } }
    @media (max-width: 450px) {
      .roadmap .roadmap_wrapper {
        max-width: 200px; } }
    .roadmap .roadmap_wrapper div {
      width: 195px;
      text-align: center;
      margin-bottom: 37px; }
  .roadmap .text {
    opacity: 0.3;
    font-size: 20px;
    font-family: "Skoda_bold", sans-serif;
    line-height: 24px; }
    @media screen and (max-width: 768px) {
      .roadmap .text {
        opacity: 1; } }

.roadmap .roadmap_wrapper .road {
  margin-bottom: 45px; }

.road {
  background: url("../assets/images/roadmap1.png") no-repeat;
  width: 195px;
  height: 177px;
  background-size: contain;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -moz-transition: 450ms ease 0s;
  -o-transition: 450ms ease 0s;
  -webkit-transition: 450ms ease 0s;
  transition: 450ms ease 0s;
  z-index: 1; }
  @media screen and (max-width: 768px) {
    .road {
      background: url("../assets/images/hover_roadmap.png") no-repeat;
      width: 195px;
      height: 177px;
      background-size: contain; } }
  .road p {
    font-family: "skoda_pro_light1", sans-serif;
    margin: auto;
    font-size: 40px; }
    .road p span {
      font-size: 17px;
      display: block;
      font-family: "skoda_pro_light1", sans-serif; }

.road:hover {
  background: url("../assets/images/hover_roadmap.png") no-repeat;
  width: 195px;
  height: 177px;
  background-size: contain; }
  .road:hover p {
    font-family: "Skoda_pro_bold", sans-serif; }
  .road:hover span {
    font-family: "skoda_pro_light1", sans-serif; }

.road:hover + .text {
  opacity: 1; }

.road:before {
  content: '';
  position: absolute;
  background: url("../assets/images/shape.png") no-repeat;
  width: 40px;
  height: 65px;
  background-size: contain;
  bottom: -33px;
  margin: auto;
  left: 3px;
  right: 0; }

.roadmap .roadmap_wrapper .map_5 p, .roadmap .roadmap_wrapper .map_7 p {
  width: 202px; }

/*roadmap*/
/*our_app*/
.our_app {
  background: url("../assets/images/bg_our_app.jpg") no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 0px; }
  @media screen and (max-width: 1200px) {
    .our_app {
      padding-top: 60px; } }
  @media screen and (max-width: 768px) {
    .our_app {
      padding-top: 20px; } }
  .our_app .owl-stage-outer {
    padding-top: 172px; }
    @media screen and (max-width: 1200px) {
      .our_app .owl-stage-outer {
        padding-top: 105px; } }
  .our_app .wrapper {
    max-width: 1247px; }
  .our_app h1 {
    color: #000;
    text-align: right;
    padding-top: 15px;
    padding-right: 83px; }
    @media screen and (max-width: 1200px) {
      .our_app h1 {
        font-size: 65px; } }
    @media screen and (max-width: 768px) {
      .our_app h1 {
        font-size: 45px;
        padding-right: 30px; } }
  .our_app .owl-carousel {
    margin-top: -16px; }
  .our_app .our_app_wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%; }
    @media screen and (max-width: 991px) {
      .our_app .our_app_wrapper {
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center; } }
    .our_app .our_app_wrapper h2 {
      position: absolute;
      font-family: "Skoda_pro_bold", sans-serif;
      font-size: 67px;
      color: #000;
      top: -70px;
      right: 74px; }
      @media screen and (max-width: 991px) {
        .our_app .our_app_wrapper h2 {
          right: 0;
          left: 0;
          margin: auto;
          text-align: center; } }
      @media screen and (max-width: 768px) {
        .our_app .our_app_wrapper h2 {
          font-size: 43px; } }
      @media (max-width: 500px) {
        .our_app .our_app_wrapper h2 {
          font-size: 28px; } }
    .our_app .our_app_wrapper .slide_1 {
      position: absolute;
      right: 56px;
      top: -70px; }
      @media screen and (max-width: 768px) {
        .our_app .our_app_wrapper .slide_1 {
          right: 0px;
          width: 100%;
          text-align: center;
          padding: 0; } }
      .our_app .our_app_wrapper .slide_1 h2 {
        position: relative;
        top: 0;
        right: 0px; }
      .our_app .our_app_wrapper .slide_1 p {
        font-size: 23px;
        font-family: "Skoda_pro_bold", sans-serif;
        color: #000;
        text-align: right;
        margin-top: 10px;
        margin-right: 8px; }
        @media screen and (max-width: 768px) {
          .our_app .our_app_wrapper .slide_1 p {
            font-size: 18px;
            text-align: center; } }
        @media (max-width: 500px) {
          .our_app .our_app_wrapper .slide_1 p {
            font-size: 13px; } }
    .our_app .our_app_wrapper .bottom {
      font-size: 21px;
      font-family: "Skoda_pro_bold", sans-serif;
      color: #000;
      margin-left: 27px;
      margin-top: -12px;
      line-height: 27px; }
      @media (max-width: 1050px) {
        .our_app .our_app_wrapper .bottom {
          font-size: 15px; } }
      @media screen and (max-width: 1200px) {
        .our_app .our_app_wrapper .bottom br {
          display: none; } }
    @media screen and (max-width: 1200px) {
      .our_app .our_app_wrapper div {
        padding: 0 10px; } }
    .our_app .our_app_wrapper .hand {
      width: 552px;
      height: 907px;
      margin-right: 37px; }
      @media screen and (max-width: 1200px) {
        .our_app .our_app_wrapper .hand {
          margin-right: 15px; } }
      @media screen and (max-width: 991px) {
        .our_app .our_app_wrapper .hand {
          width: 50%;
          height: 50%;
          display: none; } }
      @media screen and (max-width: 768px) {
        .our_app .our_app_wrapper .hand {
          width: 200px;
          height: 100%;
          margin-top: 140px; } }
      @media screen and (max-width: 500px) {
        .our_app .our_app_wrapper .hand {
          display: none; } }
    .our_app .our_app_wrapper ul {
      margin-top: 85px; }
      @media screen and (max-width: 991px) {
        .our_app .our_app_wrapper ul {
          margin-top: 50px;
          margin-top: 50px;
          max-width: 500px;
          width: 100%;
          margin: 0 auto;
          margin-top: 70px; } }
  @media screen and (max-width: 991px) and (max-width: 768px) {
    .our_app .our_app_wrapper ul {
      margin-top: 30px; } }

      @media screen and (max-width: 500px) {
        .our_app .our_app_wrapper ul {
          margin-bottom: 35px; } }
    .our_app .our_app_wrapper li {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: top;
      -moz-align-items: top;
      -ms-align-items: top;
      align-items: top;
      margin-bottom: 29px; }
      @media screen and (max-width: 991px) {
        .our_app .our_app_wrapper li {
          margin-bottom: 25px; } }
      @media screen and (max-width: 768px) {
        .our_app .our_app_wrapper li {
          margin-bottom: 12px; } }
      @media (max-width: 1050px) {
        .our_app .our_app_wrapper li {
          margin-bottom: 40px; } }
      .our_app .our_app_wrapper li p {
        font-family: "Skoda_regular", sans-serif;
        font-size: 20px;
        line-height: 25px;
        margin-top: 0px; }
        @media screen and (max-width: 1200px) {
          .our_app .our_app_wrapper li p b + br {
            display: block; } }
        @media screen and (max-width: 1200px) {
          .our_app .our_app_wrapper li p br {
            display: none; } }
        .our_app .our_app_wrapper li p b {
          font-family: "Skoda_pro_bold", sans-serif; }
        @media screen and (max-width: 1200px) {
          .our_app .our_app_wrapper li p {
            font-size: 15px;
            line-height: 23px; } }
        @media screen and (max-width: 768px) {
          .our_app .our_app_wrapper li p {
            line-height: 20px; } }
    .our_app .our_app_wrapper li img {
      width: 111px;
      margin-right: 79px;
      height: 50%; }
      @media screen and (max-width: 1200px) {
        .our_app .our_app_wrapper li img {
          margin-right: 13px; } }
      @media screen and (max-width: 991px) {
        .our_app .our_app_wrapper li img {
          width: 90px;
          height: 50%; } }
      @media screen and (max-width: 768px) {
        .our_app .our_app_wrapper li img {
          width: 60px; } }

/*our_app*/
/*team*/
.team {
  color: #fff;
  background: url("../assets/images/bg_team.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 136px; }
  @media screen and (max-width: 1200px) {
    .team {
      padding-top: 60px;
      padding-bottom: 60px; } }
  @media screen and (max-width: 768px) {
    .team {
      padding-top: 30px;
      padding-bottom: 30px;
      background: url("../assets/images/bg_team_mob.jpg") no-repeat;
      background-size: cover;
      background-position: center; } }
  .team .team_wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 60px; }
  .team .group {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
    @media screen and (max-width: 768px) {
      .team .group {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; } }
    .team .group:first-child {
      margin-bottom: 47px; }
      @media screen and (max-width: 768px) {
        .team .group:first-child {
          margin-bottom: 0px; } }
    .team .group:last-child {
      margin-top: 53px; }
      @media screen and (max-width: 768px) {
        .team .group:last-child {
          margin-top: 0px; } }
    .team .group div {
      margin: 0 25px;
      width: 25%; }
      @media screen and (max-width: 1200px) {
        .team .group div {
          margin: 0 15px; } }
      @media screen and (max-width: 768px) {
        .team .group div {
          width: 100%;
          margin: 0; } }
    @media screen and (max-width: 1200px) {
      .team .group img {
        width: 210px; } }
    @media screen and (max-width: 991px) {
      .team .group img {
        width: 155px; } }
    @media screen and (max-width: 768px) {
      .team .group img {
        width: 200px; } }
  .team h1 {
    color: #fff;
    text-align: center; }
    @media screen and (max-width: 1200px) {
      .team h1 {
        font-size: 65px; } }
    @media screen and (max-width: 768px) {
      .team h1 {
        font-size: 45px; } }
  .team h6 {
    font-family: "roboto-bold", sans-serif;
    font-size: 30px;
    margin-top: 12px;
    line-height: 33px;
    margin-bottom: 25px; }
    @media screen and (max-width: 991px) {
      .team h6 {
        font-size: 25px;
        margin-top: 5px;
        line-height: 29px;
        margin-bottom: 13px; } }
  .team p {
    font-family: "roboto-thin", sans-serif;
    font-size: 30px;
    line-height: 35px; }
    @media screen and (max-width: 1200px) {
      .team p {
        font-size: 23px; } }
    @media screen and (max-width: 991px) {
      .team p {
        font-size: 20px;
        line-height: 25px; } }
    @media screen and (max-width: 768px) {
      .team p {
        margin-bottom: 35px;
        font-size: 20px; } }
  .team .linkedin {
    position: absolute;
    background: url("../assets/images/logo_linkedin.png") no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    -moz-transition: 450ms ease 0s;
    -o-transition: 450ms ease 0s;
    -webkit-transition: 450ms ease 0s;
    transition: 450ms ease 0s;
    bottom: 2px;
    cursor: pointer;
    opacity: 0.5;
    right: 4px; }
    .team .linkedin:hover {
      opacity: 1; }
    @media screen and (max-width: 1200px) {
      .team .linkedin {
        right: -4px; } }
    @media screen and (max-width: 991px) {
      .team .linkedin {
        right: -6px;
        width: 20px;
        height: 20px; } }
    @media screen and (max-width: 768px) {
      .team .linkedin {
        right: -4px;
        width: 25px;
        height: 25px; } }
  .team .group .photo {
    position: relative;
    width: 252px;
    margin: 0 auto; }
    @media screen and (max-width: 1200px) {
      .team .group .photo {
        width: 210px; } }
    @media screen and (max-width: 991px) {
      .team .group .photo {
        width: 155px; } }
    @media screen and (max-width: 768px) {
      .team .group .photo {
        width: 200px; } }

.team .group .team_3 {
  position: relative; }
  .team .group .team_3 p {
    position: absolute;
    left: -14px;
    width: 279px;
    right: 0;
    margin: auto; }
    @media screen and (max-width: 1200px) {
      .team .group .team_3 p {
        position: relative;
        left: 0px;
        width: 100%;
        right: 0;
        margin: auto; } }
    @media screen and (max-width: 768px) {
      .team .group .team_3 p {
        margin-bottom: 35px; } }

/*end team*/
/*questions*/
.faq {
  padding-top: 111px;
  padding-bottom: 26px; }
  @media screen and (max-width: 1200px) {
    .faq {
      padding-top: 60px;
      padding-bottom: 60px; } }
  @media screen and (max-width: 768px) {
    .faq {
      padding-top: 30px;
      padding-bottom: 30px; } }

.faq h1 {
  color: #2f005e;
  text-align: center;
  margin-bottom: 85px; }
  @media screen and (max-width: 1200px) {
    .faq h1 {
      font-size: 65px; } }
  @media screen and (max-width: 991px) {
    .faq h1 {
      font-size: 55px;
      margin-bottom: 43px; } }
  @media screen and (max-width: 768px) {
    .faq h1 {
      font-size: 35px;
      margin-bottom: 35px; } }
  @media screen and (max-width: 500px) {
    .faq h1 {
      line-height: 40px; } }

.faq dd {
  display: none;
  margin-top: -24px;
  max-width: 100%; }
  @media screen and (max-width: 991px) {
    .faq dd {
      max-width: 100%; } }
  .faq dd p {
    max-width: 511px;
    width: 100%;
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 20px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #202020; }
    @media screen and (max-width: 1200px) {
      .faq dd p {
        max-width: 100%; } }
    @media screen and (max-width: 991px) {
      .faq dd p {
        max-width: 100%; } }
  .faq dd ul {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 20px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #202020; }

.faq dt {
  font-size: 20px;
  line-height: 26px;
  max-width: 100%;
  margin-bottom: 35px;
  position: relative; }
  @media screen and (max-width: 991px) {
    .faq dt {
      max-width: 100%; } }

dd .video {
  max-width: 510px;
  margin-bottom: 47px; }

.faq_group {
  position: relative;
  padding: 0 13px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  @media screen and (max-width: 768px) {
    .faq_group {
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

dt a {
  font-family: "roboto-bold", sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: #5c0091; }

/*questions*/
/*footer*/
footer {
  background: url("../assets/images/bg_footer.jpg") no-repeat;
  background-size: cover;
  padding: 50px 0; }
  @media screen and (max-width: 1200px) {
    footer {
      padding: 30px 0; } }
  footer .wrapper {
    max-width: 1120px; }
  footer ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center; }
    @media screen and (max-width: 991px) {
      footer ul {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; } }
  footer li {
    display: inline-block; }
    @media screen and (max-width: 991px) {
      footer li {
        margin-bottom: 24px; } }
    @media screen and (max-width: 991px) {
      footer li:last-child {
        margin-bottom: 0px; } }
    footer li:first-child a {
      display: inline-block; }
    footer li a {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      font-family: "Skoda_pro_bold", sans-serif;
      font-size: 18px;
      text-decoration: none;
      color: #fff;
      opacity: 0.8;
      -moz-transition: 450ms ease 0s;
      -o-transition: 450ms ease 0s;
      -webkit-transition: 450ms ease 0s;
      transition: 450ms ease 0s; }
      @media screen and (max-width: 1200px) {
        footer li a {
          font-size: 16px; } }
      footer li a span {
        font-family: "Skoda_regular", sans-serif; }
      footer li a:hover {
        opacity: 1; }
      footer li a img {
        margin-right: 10px;
        margin-top: -2px; }

/*footer*/
/*slider*/
.owl-dot {
  display: inline-block;
  background: #98C1D8 !important;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  margin: 0 6px;
  outline: none; }
  @media screen and (max-width: 768px) {
    .owl-dot {
      width: 14px;
      height: 14px; } }

.owl-dot.active {
  background: #021434 !important; }

.owl-dots {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 35px; }
  @media screen and (max-width: 991px) {
    .owl-dots {
      position: relative;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 0;
      margin-top: 20px;
      margin-bottom: 20px; } }
  @media screen and (max-width: 768px) {
    .owl-dots {
      bottom: 5px; } }

.owl-nav span {
  display: none; }

.owl-prev {
  position: absolute;
  top: -80px;
  bottom: 0;
  left: 37px;
  margin: auto;
  background: url(../assets/images/arrow_left.png) no-repeat !important;
  background-size: contain !important;
  background-position: center;
  width: 28px;
  height: 36px;
  outline: none; }
  @media screen and (max-width: 1200px) {
    .owl-prev {
      display: none; } }

.owl-next {
  position: absolute;
  top: -80px;
  bottom: 0;
  right: 37px;
  margin: auto;
  background: url(../assets/images/arrow_left.png) no-repeat !important;
  background-size: contain !important;
  background-position: center;
  width: 28px;
  height: 36px;
  transform: scaleX(-1);
  outline: none; }
  @media screen and (max-width: 1200px) {
    .owl-next {
      display: none; } }

/*slider*/
dd p {
  max-width: 511px;
  width: 100%;
  font-size: 16px;
  margin-bottom: 38px;
  line-height: 20px;
  text-align: left;
  font-family: "roboto-light", sans-serif;
  color: #878787; }

dl {
  width: 50%; }
  dl:first-child {
    margin-right: 92px; }
    @media screen and (max-width: 768px) {
      dl:first-child {
        margin-right: 0px; } }
  @media screen and (max-width: 768px) {
    dl {
      width: 100%; } }

@media screen and (max-width: 1200px) {
  dd p {
    max-width: 100%; } }
@media screen and (max-width: 991px) {
  dd p {
    max-width: 100%; } }
@media screen and (max-width: 991px) {
  dd .video {
    position: relative;
    top: 0;
    right: 0;
    max-width: 500px;
    width: 100%; } }
/*video*/
.videoWrapper {
  position: relative;
  width: 100%;
  height: 0;
  background-color: #000; }
  .videoWrapper43 {
    padding-top: 75%; }
  .videoWrapper169 {
    padding-top: 56.3%; }

.videoIframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent; }

.videoPoster {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: none;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-size: cover;
  text-indent: -999em;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: opacity 800ms, height 0s;
  -moz-transition: opacity 800ms, height 0s;
  transition: opacity 800ms, height 0s;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s; }
  .videoPoster:before {
    content: '';
    position: absolute;
    top: 44%;
    left: 48%;
    height: 117px;
    margin: -40px 0 0 -40px;
    background: url("../assets/images/button.png") no-repeat;
    background-size: contain;
    width: 165px;
    -webkit-transition: border-color 300ms;
    -moz-transition: border-color 300ms;
    transition: border-color 300ms; }
    @media screen and (max-width: 1200px) {
      .videoPoster:before {
        left: 48%;
        height: 94px;
        width: 104px; } }
    @media screen and (max-width: 768px) {
      .videoPoster:before {
        left: 50%;
        height: 50px;
        width: 60px;
        top: 50%; } }
    @media (max-width: 500px) {
      .videoPoster:before {
        height: 33px;
        width: 40px;
        top: 40%;
        left: 0;
        right: 0;
        margin: auto; } }
  .videoWrapperActive .videoPoster {
    opacity: 0;
    height: 0;
    -webkit-transition-delay: 0s, 800ms;
    -moz-transition-delay: 0s, 800ms;
    transition-delay: 0s, 800ms; }

.kmts.roadmap .map_4 .road:before {
  content: '';
  position: absolute;
  width: 291px;
  height: 3px;
  background-size: contain;
  bottom: 0;
  margin: auto;
  right: -270px;
  left: initial;
  top: 5px; }

/*video*/
/*partners*/
.partners img {
  margin-top: 337px;
  margin-bottom: 417px; }
  @media screen and (max-width: 1367px) {
    .partners img {
      margin-top: 237px;
      margin-bottom: 317px; } }
  @media screen and (max-width: 991px) {
    .partners img {
      margin-top: 167px;
      margin-bottom: 230px; } }
  @media screen and (max-width: 768px) {
    .partners img {
      margin-top: 167px;
      margin-bottom: 230px;
      width: 180px; } }

/*partners*/
.store_img {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  bottom: 117px; }
  @media screen and (max-width: 1200px) {
    .store_img {
      bottom: 87px; } }
  @media screen and (max-width: 991px) {
    .store_img {
      position: relative;
      bottom: 0 !important;
      left: 0;
      right: 0 !important;
      margin-top: 15px; } }
  .store_img img {
    height: 55px !important; }
    @media screen and (max-width: 768px) {
      .store_img img {
        height: 100% !important; } }

.app_store {
  margin-right: 25px; }

@media (max-width: 1025px) {
  .store_img {
    bottom: 87px;
    right: 200px; } }
@media screen and (max-width: 991px) {
  .en .our_app .our_app_wrapper .slide_1 {
    right: 0;
    left: 0; }
  .en .our_app .our_app_wrapper h2 {
    font-size: 55px; }
  .en .our_app .our_app_wrapper ul {
    margin-top: 30px; } }
@media screen and (max-width: 768px) {
  .en .our_app .our_app_wrapper h2 {
    font-size: 40px; } }

@media screen and (max-width: 500px) {
  .ru .how_it_works h1 {
    font-size: 32px; }
  .ru .our_app .our_app_wrapper ul {
    margin-top: 10px; }
  .ru .faq h1 {
    font-size: 32px; } }

.top .logo .scroll_header {
  margin-top: 0;
  top: -14px;
  width: 84px;
  left: 30px;
  height: auto; }
  @media screen and (max-width: 1200px) {
    .top .logo .scroll_header {
      top: 0px; } }
  @media screen and (max-width: 991px) {
    .top .logo .scroll_header {
      width: 70px; } }
  @media screen and (max-width: 768px) {
    .top .logo .scroll_header {
      left: 0px; } }

.header {
  padding-bottom: 17px; }

@media screen and (max-width: 1200px) {
  .top header.header {
    padding-top: 22px; } }

/*# sourceMappingURL=style.css.map */
